:root {
    --sc-height: 500px;

    --sc-timeline-title-height: 40px;
    --sc-timeline-header-height: 40px;
    --sc-timeline-canvas-height: 40px;
    --sc-timeline-canvas-content-height: 50px;

    --sc-list-width: 200px;

    --sc-scroll-width: 15px;
    --sc-scroll-height: 15px;

    --sc-cell-width: 200px;
    --sc-cell-height: 40px;
    --sc-cell-content-height: 30px;

    --sc-line-color: #999999;
}

#sc-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#sc-list {
    width: var(--sc-list-width);
    height: calc(100% - var(--sc-scroll-height));
}

#sc-list-head {
    height: calc(var(--sc-timeline-title-height) + var(--sc-timeline-header-height) + var(--sc-timeline-canvas-height));
}

#sc-list-head-maintitle {
    height: calc(var(--sc-timeline-title-height) - 1px - 1px);
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: var(--sc-line-color);
    padding: 0px 8px;
    line-height: calc(var(--sc-timeline-title-height) - 1px - 1px);
}

#sc-list-head-subtitle {
    height: calc(var(--sc-timeline-header-height) + var(--sc-timeline-canvas-height) - 1px);
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: var(--sc-line-color);
    padding: 0px 8px;
    line-height: calc(var(--sc-timeline-header-height) + var(--sc-timeline-canvas-height) - 1px);
}

#sc-list-box {
    overflow: hidden;
    height: calc(var(--sc-height) - var(--sc-timeline-title-height) - var(--sc-timeline-header-height) - var(--sc-timeline-canvas-height) - var(--sc-scroll-height));
}

.sc-list-item {
    height: calc(var(--sc-cell-height) - 1px);
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: var(--sc-line-color);
    padding: 0px 8px;
}

.sc-list-item:nth-child(odd) {
    background-color: #dddddd;
}

#sc-content-box {
    flex: 1;
    width: 100px;
    height: 100%;
}

#sc-content {
    width: 100%;
    height: 100%;
    overflow: auto;
}

#sc-content-timeline {
    height: calc(var(--sc-timeline-title-height) + var(--sc-timeline-header-height) + var(--sc-timeline-canvas-height));
}

#sc-content-timeline-title {
    height: calc(var(--sc-timeline-title-height) - 1px - 1px);
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: var(--sc-line-color);
    text-align: center;
    line-height: var(--sc-timeline-title-height);
}

#sc-content-timeline-header-box {
    overflow: hidden;
}

#sc-content-timeline-header {
    height: var(--sc-timeline-header-height);
    display: flex;
    flex-direction: row;
    line-height: var(--sc-timeline-header-height);
}

.sc-content-timeline-header-item {
    border-width: 0px 1px 1px 0px;
    width: calc(var(--sc-cell-width) - 1px);
    border-style: solid;
    border-color: var(--sc-line-color);
    flex-direction: row;
}

#sc-content-timeline-canvas-box {
    overflow: hidden;
}

#sc-content-timeline-canvas {
    height: calc(var(--sc-timeline-canvas-height) - 1px);
    background-color: #ffff00;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: var(--sc-line-color);

    position: relative;
}

.sc-content-timeline-canvas-item {
    position: absolute;
    width: var(--sc-timeline-canvas-content-height);
    height: var(--sc-timeline-canvas-content-height);
}

#sc-content-canvas-box {
    overflow: scroll;
    width: 100%;
    height: calc(var(--sc-height) - var(--sc-timeline-title-height) - var(--sc-timeline-header-height) - var(--sc-timeline-canvas-height));
}

#sc-content-canvas {
    height: 100%;
    position: relative;
    z-index: 0;
}

.sc-content-canvas-item {
    position: absolute;
    height: var(--sc-cell-content-height);
    width: var(--sc-cell-content-height);
}

.sc-hline {
    position: absolute;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: var(--sc-line-color);
}

.sc-vline {
    position: absolute;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: var(--sc-line-color);
}

#sc-content-canvas-box::-webkit-scrollbar {
    width: var(--sc-scroll-width);
    height: var(--sc-scroll-height);
}

#sc-content-canvas-box::-webkit-scrollbar-thumb {
    background-color: #999999;
}

#sc-content-canvas-box::-webkit-scrollbar-track {
    background-color: #cccccc;
}