:root {
    --sc-height: 815px;
    --sc-legend-height: 40px;

    --sc-list-width: 200px;
    --sc-list-head-height: 120px;
    --sc-list-head-title-height: 40px;

    --sc-content-timeline-header-height: 40px;

    --sc-scroll-width: 15px;
    --sc-scroll-height: 15px;

    --sc-cell-width: 200px;
    --sc-cell-height: 40px;
    --sc-cell-content-height: 25px;

    --sc-line-color: #999999;
}

#sc {
    width: 100%;
    height: var(--sc-height);
}

#sc-legend {
    height: calc(var(--sc-legend-height) - 4px - 4px);
    display: flex;
    flex-direction: row;
    padding: 4px;
}

#sc-legend-left {
    display: flex;
    flex-direction: row;
    padding: 4px;
}

#sc-legend-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 4px;
    flex: 1;
}

.sc-legend-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sc-legend-item-color {
    width: 20px;
    height: 20px;
}

.sc-legend-item-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.sc-legend-item-label {
    padding: 0px 4px;
}

#sc-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(var(--sc-height) - var(--sc-legend-height));
}

#sc-list {
    width: var(--sc-list-width);
    height: calc(100% - var(--sc-scroll-height));
}

#sc-list-head {
    height: var(--sc-list-head-height);
}

#sc-list-head-title {
    height: calc(var(--sc-list-head-title-height) - 1px - 1px);
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: var(--sc-line-color);
    padding: 0px 8px;
    line-height: calc(var(--sc-list-head-title-height) - 1px - 1px);
}

#sc-list-head-subtitle {
    height: calc(var(--sc-list-head-height) - var(--sc-list-head-title-height) - 1px);
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: var(--sc-line-color);
    padding: 0px 8px;
    line-height: calc(var(--sc-list-head-height) - var(--sc-list-head-title-height) - 1px);
}

#sc-list-box {
    overflow: hidden;
    height: calc(var(--sc-height) - var(--sc-legend-height) - var(--sc-list-head-height) - var(--sc-scroll-height));
}

.sc-list-item {
    height: calc(var(--sc-cell-height) - 1px);
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: var(--sc-line-color);
    padding: 0px 8px;
}

.sc-list-item:nth-child(odd) {
    background-color: #dddddd;
}

#sc-content-box {
    flex: 1;
    width: 500px;
    height: 100%;
}

#sc-content {
    width: 100%;
    height: 100%;
    overflow: auto;
}

#sc-content-timeline {
    height: var(--sc-list-head-height);
}

#sc-content-timeline-title {
    height: calc(var(--sc-list-head-title-height) - 1px - 1px);
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: var(--sc-line-color);
    text-align: center;
    line-height: var(--sc-list-head-title-height);
}

#sc-content-timeline-header-box {
    overflow: hidden;
}

#sc-content-timeline-header {
    height: var(--sc-content-timeline-header-height);
    background-color: #00ff00;
    display: flex;
    flex-direction: row;
    line-height: var(--sc-content-timeline-header-height);
}

.sc-content-timeline-header-item {
    border-width: 0px 1px 1px 0px;
    width: calc(var(--sc-cell-width) - 8px - 8px - 1px);
    border-style: solid;
    border-color: var(--sc-line-color);
    padding: 0px 8px;
    flex-direction: row;
}

#sc-content-timeline-status {
    height: calc(var(--sc-list-head-height) - var(--sc-list-head-title-height) - var(--sc-content-timeline-header-height) - 1px);
    background-color: #ffff00;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: var(--sc-line-color);

    position: relative;
}

.sc-content-timeline-status-item {
    position: absolute;
}

#sc-content-canvas-box {
    overflow: auto;
    width: 100%;
    height: calc(var(--sc-height) - var(--sc-legend-height) - var(--sc-list-head-height));
}

#sc-content-canvas {
    height: 100%;
    position: relative;
    z-index: 0;
}

.sc-hline {
    position: absolute;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: var(--sc-line-color);
}

.sc-vline {
    position: absolute;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: var(--sc-line-color);
}

.sc-content-canvas-item {
    position: absolute;
    height: var(--sc-cell-content-height);
}

#sc-content-canvas-box::-webkit-scrollbar {
    width: var(--sc-scroll-width);
    height: var(--sc-scroll-height);
}

#sc-content-canvas-box::-webkit-scrollbar-thumb {
    background-color: #999999;
}

#sc-content-canvas-box::-webkit-scrollbar-track {
    background-color: #cccccc;
}


.sc-tooltip {
    position: relative;
    display: inline-block;
}

.sc-tooltip .sc-tooltip-text {
    visibility: hidden;
    width: 120px;
    height: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    /* border-radius: 6px; */

    /* Position the tooltip */
    position: absolute;
    z-index: 0;
    opacity: 0;
}

.sc-tooltip:hover .sc-tooltip-text {
    visibility: visible;
    opacity: 1;
}