:root {
    --tr-legend-height: 40px;
}

#tr-legend {
    height: calc(var(--tr-legend-height) - 4px - 4px);
    display: flex;
    flex-direction: row;
    padding: 4px;
}

#tr-legend-left {
    display: flex;
    flex-direction: row;
    padding: 4px;
}

#tr-legend-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 4px;
    flex: 1;
}

.tr-legend-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tr-legend-item-color {
    width: 20px;
    height: 20px;
}

.tr-legend-item-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.tr-legend-item-label {
    padding: 0px 4px;
}

.tr-tooltip {
    visibility: hidden;
    /* width: 200px; */
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    /* Position the tooltip */
    position: fixed;
    z-index: 0;
    opacity: 0;
}
